body {
    font-family: sans-serif;
    text-align: center;
}

nav {
    margin: 30px 20px;
}

nav a {
    text-decoration: none;
    color: black;
    display: inline;
    float: left;
}

nav div {
    display: inline;
    float: right;
}

.wrapper {
    padding: 100px 20px 0 20px;
}

.button {
    border: none;
    background-color:indigo;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    margin: 10px;
    padding: 5px 10px;
}

nav a:hover {
    color: indigo;
}

.button:hover {
    opacity: .7;
}