body {
    font-family: sans-serif;
    text-align: center;
}

nav {
    margin: 30px 20px;
}

nav a {
    text-decoration: none;
    color: black;
    display: inline;
    float: left;
}

nav div {
    display: inline;
    float: right;
}

.wrapper {
    padding: 100px 20px 0 20px;
    display: block;
}

.button {
    border: none;
    background-color:indigo;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    margin: 10px;
    padding: 5px 10px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.result {
    margin-top: 30px;
    font-size: 25px;
    opacity: 0.5;
    font-style: italic;
}

.scores {
    display: inline-block;
}

.initials {
    display: inline-block;
}

nav a:hover {
    color: indigo;
}

.button:hover {
    opacity: .7;
    color: white;
}